.Sentence {
  width: 90%;
  margin-left: 5%;
  /*text-align: center;*/
}

h2 .glyphicon {
  margin-left: 3ch;
  font-size: 60%;
}

.Sentence h2 a {
  margin-right: 1ch;
  font-size: larger;
}

.SentenceWord {
  height: 300px;
  display: inline-block;
  padding-right: .5ch;
  padding-left: .5ch;
  min-width: 2ch;
  font-size: 22px;
}

.SentenceWord > div {
}

.flank {
  min-width: 2ch;
  height: 40%;
  position: relative;
  /*background-color: rgba(240, 240, 240, .5);*/
}

.bar {
  width: 2ch;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.topBar {
  background-color: rgba(220, 255, 220, 1);
  bottom: 0;
}
.botBar {
  background-color: rgba(255, 220, 220, 1);
}


.SentenceWord .word {
  text-align: center;
}

/* Boilerplate below */
.App {
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

