.blogWrapper p {
  font-family: Helvetica, Arial, sans-serif;
  width: 75%;
  margin: 20px auto;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

.blogWrapper > * {
  margin-top: 20px;
  margin-bottom: 20px;
}

#ppxPlot {
  max-width: 800px;
}

.title {
  margin-left: 12.5%;
  margin-top: 2ex;
}
blockquote {
  font-size: 22px;
}

.SentWrapper {
  text-align: center;
  max-width: 94%;
  margin-left: 3%;
}

.Sentence {
}
.Sentence-words {
  text-align: left;
}
